<div class="form-group">
    {% if print_label is defined and print_label == true %}
        <label>{{ (label is defined ? label : name)|raw }}</label>{% endif %}
    <input placeholder="{{ name }}" id="{{ id is defined ? id : 'symfony_filter_form_'~value }}"
           class="{{ class is defined ? class : 'form-control' }}" type="datetime-local" name="{{ value }}"
           value="{{ app.request.get(value) }}"
           autocomplete="off">
</div>
