{#
    PacolmgSymfonyFilterBundle
    Layout Input

    Mandatory Parameters:
      * name (string): name of the input

    Optional Parameters:
      * id (int): id of the input.
        - Default id: symfony_filter_form~name
      * class: Class for the input.
        - Default: form-control (bootstrap class)
      * placeholder (string): Placeholder for the input.
      * print_label (boolean): Whether print the label (or placeholder if label is not defined).
      * label (string): Label for the input.
      * defaultData (string|in|array): Default value for the input in case is not received from app.Request.
      * options (array): In select case the options for the select.
        - Example: {'1': 'Option 1', '2': 'Option 2', '3': 'Option 3'}
      * multiple (boolean): In select case whether is a multiple field.
#}

{# Default vars #}
{% set value = '' %}
{% set multiple = multiple is defined ? multiple : false %}
{% set options = options is defined ? options : [] %}

{# Get the value from the Request #}
{% if app.request.get(name) %}
    {%  set value = app.request.get(name) %}
{% elseif defaultData is defined %}
    {% set value = defaultData %}
{% endif %}

{# Print the field #}
<div class="form-group">
    {% if print_label is defined and print_label == true %}
        <label>{{ (label is defined ? label : (placeholder is defined ? placeholder : '' ))|raw }}</label>{% endif %}
    {% block pacolmg_symfony_filter_bundle_filter_input %}    
    <input placeholder="{{ placeholder is defined ? placeholder : '' }}" 
           id="{{ id is defined ? id : 'symfony_filter_form_'~name }}"
           class="{{ class is defined ? class : 'form-control' }}"
           type="{% block pacolmg_symfony_filter_bundle_filter_input_type %}{% endblock %}" 
           name="{{ name }}"
           value="{{ value }}"
           autocomplete="off">
    {% endblock %}
</div>
