{% extends "@PacolmgSymfonyFilter/filters/layout_input.html.twig" %}
{% block pacolmg_symfony_filter_bundle_filter_input %}
    <select id="{{ id is defined ? id : 'symfony_filter_form_'~name }}"
           class="{{ class is defined ? class : 'form-control' }}"
           name="{{ name }}{{ multiple is defined and multiple == true ? '[]': '' }}"
           {% if multiple is defined and multiple == true %}
               multiple
           {% endif %}
           >
        {% if placeholder is defined %} 
            <option value="">{{ placeholder }}</option>
        {% endif %}
        {% for key,option in options %}
            {% if multiple is defined and multiple == true %}
                <option value="{{ key }}" {{ key in value ? 'selected' : '' }}>{{ option }}</option>
            {% else %}
                <option value="{{ key }}" {{ key == value ? 'selected' : '' }}>{{ option }}</option>
            {% endif %}
        {% endfor %}
    </select>
{% endblock %}